#displayTable {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#displayTable td, #displayTable th {
border: 1px solid #ddd;
padding: 8px;
}

#displayTable tr:nth-child(even){background-color: #f2f2f2;}

#displayTable tr:hover {background-color: #ddd;}

#displayTable th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}
.title{
margin: 15px 40%;
}
